*.java linguist-language=java
*.js linguist-language=java
*.json linguist-language=java
*.lock linguist-language=text
*.md linguist-language=markdown
*.mkd linguist-language=markdown
*.mdown linguist-language=markdown
*.mdx linguist-language=markdown
*.sublime-project linguist-language=json
*.sublime-workspace linguist-language=json
*.yaml linguist-language=java
*.yml linguist-language=java